<% provide(:title, 'Waiting for verification') %>
<h1>verification</h1>

<p>You should be receiving an e-mail shortly. Please visit the link to verify your e-mail address and activate your account</p>